div {
    text-align: center;
}

.login {
    padding: 20%;
    align-items: center;
}
.lateral {
    width: 10%;
    height: 100%;
    display: inline-block;
}

.fundo {
    background-color: grey;
}

.topo {
    height: 8%;
    align-items: center;
}

.ui.grid{
    padding:0 !important;
}
.pushable.segment{
    margin:0 !important;
}